/*** BOX GENERALE DELLA DESCRIZIONE E BOTTONE DEL PRODOTTO ***/

.boxdescrizione{
	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.boxbottone{
	width:100%;
	height:auto;
	margin:20px 0px;
}

.contbottone{
	width:200px;
	height:auto;
	background-image: url("../immagini/sfondo-bottoni.jpg");
	background-repeat: repeat-x;
	background-position: center top;
	font-size:15px;
	text-align:center;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
}

.contbottone a{
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	padding:10px 5px;
}

.contbottone a:hover{
	color:#ffffff;
	background:#F5A101;
}

@media only screen and (max-width: 795px) {
	.contbottone{
		margin:30px auto;
	}
}

.bottonegiu p{
	margin:0px;
}

.img-nascosto{display:none;}

/*** BOX DESCRIZIONE PRODOTTO 1 ***/
.boxprodotto1{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/softshop.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto{
	width:50%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto h2{
	margin-top: 10px;
}

.textprodotto{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggsoft{
	background-image:url("../immagini/1024x768/oggettosoftshop.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:-100px;
}

.boxprodotto1 .bottonegiu{
	bottom: 50px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto1 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto1 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE PRODOTTO 2 ***/
.boxprodotto2{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/ristomanager.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto2{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto2 h2{
	margin-top: 10px;
}

.textprodotto2{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto2 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggristo{
	background-image:url("../immagini/1024x768/oggettoristo.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:-100px;
}

.boxprodotto2 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto2 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto2 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}
/*** BOX DESCRIZIONE PRODOTTO 3 ***/
.boxprodotto3{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/gestionemessaggi.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto3{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto3 h2{
	margin-top: 10px;
}

.textprodotto3{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto3 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggmex{
	background-image:url("../immagini/1024x768/oggettomex.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:-100px;
}

.boxprodotto3 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto3 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto3 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}
/*** BOX DESCRIZIONE PRODOTTO 4 ***/
.boxprodotto4{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/sadmin.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto4{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto4 h2{
	margin-top: 10px;
}

.textprodotto4{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto4 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#ffffff;
}

.oggsadmin{
	background-image:url("../immagini/1024x768/oggettos-admin.png");
	background-repeat:no-repeat;
	background-position:right top;
	width:100%;
	height:335px;
	margin-left:-90px;
}

.boxprodotto4 .bottonegiu{
	bottom: 160px;
	color: #FFFFFF;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto4 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto4 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #FFFFFF;
}

/*** BOX DESCRIZIONE PRODOTTO 5 ***/
.boxprodotto5{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/trovapassword.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto5{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto5 h2{
	margin-top: 10px;
}

.textprodotto5{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto5 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggpassword{
	background-image:url("../immagini/1024x768/oggettopassword.png");
	background-repeat:no-repeat;
	background-position:right top;
	width:100%;
	height:335px;
	margin-left:-50px;
}

.boxprodotto5 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto5 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto5 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE PRODOTTO 6 ***/
.boxprodotto6{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/roulette.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto6{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto6 h2{
	margin-top: 10px;
}

.textprodotto6{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto6 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggroulette{
	background-image:url("../immagini/1024x768/oggettoroulette.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:-50px;
}

.boxprodotto6 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto6 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto6 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE PRODOTTO 7 ***/
.boxprodotto7{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/spaccio.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto7{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto7 h2{
	margin-top: 10px;
}

.textprodotto7{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto7 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggspaccio{
	background-image:url("../immagini/1024x768/oggettospaccio.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:-50px;
}

.boxprodotto7 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto7 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto7 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE PRODOTTO 8 ***/
.boxprodotto8{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/security.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto8{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto8 h2{
	margin-top: 10px;
}

.textprodotto8{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto8 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggsecurity{
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto8 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto8 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto8 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE PRODOTTO 9 ***/
.boxprodotto9{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/battery.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto9{
	width:50%;
	height:100%;
	top: 110px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto9 h2{
	margin-top: 10px;
}

.textprodotto9{
	width:100%;
	height:auto;
	margin:0px;
}

.textprodotto9 p{
	margin:20px 0px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight:normal;
	color:#000000;
}

.oggbattery{
	background-image:url("../immagini/1024x768/oggettobattery.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto9 .bottonegiu{
	bottom: 160px;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 18px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.boxprodotto9 .bottonegiu p{
	margin-bottom:20px;
}

.boxprodotto9 .freccia-giu {
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:2px solid #000000;
}

/*** BOX DESCRIZIONE CONTATTI ***/
.boxprodotto-contatti{
	background-color:#ffffff;
	background-image:url("../immagini/1024x768/contatti.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-attachment:fixed;
	background-size:cover;
	height:900px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto-contatti{
	width:50%;
	height:100%;
	top: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto-contatti h3{
	margin-top:120px;
	font-size:25px;	
	color:#969595;
}

.textprodotto-contatti{
	width:100%;
	height:auto;
	margin:10px 0px;
}

.textprodotto-contatti p{
	margin:0px;
	font-size:16px;
	color:#000000;
}

/*** MODULO DI COMPILAZIONE ***/

.boxmodulo{
	width:100%;
	height:auto;
}

.modulo{
	width:100%;
	max-width:350px;
	height:300px;
	color:#262626;
	font-size:15px;
}

.camponome, .campocognome, .campocitta, .campotel, .campoemail, .textarea{
	width:50%;
	height:auto;
	text-align:left;
	float:left;
	margin-top:0px;
}

.modulo input{
	max-width:146px;
	height:20px;
}

.campocitta{
	width:100% !important;
}

.campocitta input{
	width:100%;
	max-width:322px;
	height:20px;
}

.textarea{
	width:100%;
	height:auto;
}

.textarea textarea{
	width:322px;
	height:100px;
	resize: none;
}

.boxprivacy{
	width:100%;
	height:auto;
	margin-top:5px;
	float:left;
}

.boxprivacy p{
	margin:0px;	
}

.boxprivacy a{
	color:#0098D0;	
}

.boxprivacy input{
	height:auto;
	width:auto;	
}

.modulo .boxbottone{
	width:100%;
	height:auto;
	float:left;
	margin:0px;
}

.modulo .contbottone{
	width:150px;
	height:auto;
	background:url("../immagini/sfondo-bottoni.jpg");
	background-repeat:repeat-x;
	background-position:center top;
	font-size:15px;
	text-align:center;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	margin-top:5px;
}

.modulo .contbottone a{
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	padding:10px 5px;
}

.modulo .contbottone a:hover{
	color:#ffffff;
	background:#F5A101;
}

.container-box-maps{
	float: left;
	height: 100%;
	width:50%;
}

.box-maps{
	float: left;
	height: 100%;
	width:100%;
}

.iframemaps{
	bottom: 257px;
    display: none;
    height: 264px;
    position: absolute;
    right: 62px;
    width: 416px;
}
/*** BOX SOCIAL ***/
.boxsocial{
	width:100%;
	height:auto;
	float:left;
	margin-top: 10px;
	text-align:center;
}

hr{
width:200px;
height:2px;
margin: 0px auto;
background-color:#d4d4d4;
border:0px;
}

.boxsocial p{
color:#000000;
font-size:18px;
margin:5px 0px;
}

.bottonisocial{
	width:70%;
	height:auto;
	text-align:center;
	margin:0px auto;
}

.bottonisocial .facebook{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/facebook1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .twitter{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/twitter1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .google{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/googleplus1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .youtube{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/youtube1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}