/*** BOX GENERALE DELLA DESCRIZIONE E BOTTONE DEL PRODOTTO ***/

.boxdescrizione{
	width:100%;
	height:100%;
	float:left;
}

.boxbottone{
	width:100%;
	height:auto;
	margin:50px 0px 0px 20px;
}

.contbottone{
	width:200px;
	height:auto;
	background-image: url("../immagini/sfondo-bottoni.jpg");
	background-repeat: repeat-x;
	background-position: center top;
	font-size:15px;
	text-align:center;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
}

.contbottone a{
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	padding:10px 5px;
}

.contbottone a:hover{
	color:#ffffff;
	background:#F5A101;
}

@media only screen and (max-width: 795px) {
	.contbottone{
		margin:30px auto;
	}
}

.bottonegiu p{
	margin:0px;
}

@media only screen and (max-width: 795px) {
	.bottonegiu img{
		width:40px;
		height:40px;
	}
}

.img-nascosto{display:none;}

/*** BOX DESCRIZIONE PRODOTTO 1 ***/
.boxprodotto1{
	background-color:#ffffff;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}
.contenutoprodotto{
	width:40%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto h2{
	margin-left: 20px;
	margin-top: 10px;
}

.textprodotto{
	width:95%;
	height:auto;
	margin:20px 0px 20px 20px;
}

.textprodotto p{
	margin:0px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	font-weight:normal;
	color:#000000;
}

.oggsoft{
	background-image:url("../immagini/1024x768/oggettosoftshop.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto1 .bottonegiu{
	bottom: 20%;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 12px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 50%;
}

.contenutoprodotto1-1{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto1-1 .sfondo-box{
	background-image:url("../immagini/1024x768/softshop.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}

/*** BOX DESCRIZIONE PRODOTTO 2 ***/
.boxprodotto2{
	background-image:url("../immagini/1024x768/ristomanager-sfondo.jpg");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto2{
	width:40%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto2 h2{
	margin-top:125px;
	margin-left:20px;
}

.textprodotto2{
	width:75%;
	height:auto;
	margin:20px 0px 20px 20px;
}

.textprodotto2 p{
	margin:0px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	font-weight:normal;
	color:#000000;
}

.oggristo{
	background-image:url("../immagini/1024x768/oggettoristo.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto2 .bottonegiu{
	bottom: 15%;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 12px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 50%;
}

.contenutoprodotto2-2{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto2-2 .sfondo-box{
	background-image:url("../immagini/1024x768/ristomanager.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}
/*** BOX DESCRIZIONE PRODOTTO 3 ***/
.boxprodotto3{
	background-color:#FFFFFF;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto3{
	width:40%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto3 h2{
	margin-top:110px;
	margin-left:20px;
}

.textprodotto3{
	width:75%;
	height:auto;
	margin:20px 0px 20px 20px;
}

.textprodotto3 p{
	margin:0px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	font-weight:normal;
	color:#000000;
}

.oggmex{
	background-image:url("../immagini/1024x768/oggettomex.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto3 .bottonegiu{
	bottom: 15%;
	color: #000000;
	font-family: "Roboto Slab",serif;
	font-size: 12px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 50%;
}

.contenutoprodotto3-2{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto3-2 .sfondo-box{
	background-image:url("../immagini/1024x768/gestionemessaggi.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}
/*** BOX DESCRIZIONE PRODOTTO 4 ***/
.boxprodotto4{
	background-image:url("../immagini/1024x768/sadmin.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto4{
	width:40%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto4 h2{
	margin-top:110px;
	margin-left:20px;
}

.textprodotto4{
	width:75%;
	height:auto;
	margin:20px 0px 20px 20px;
}

.textprodotto4 p{
	margin:0px;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	font-weight:normal;
	color:#000000;
}

.contenutoprodotto4 .contenutogiu {
	color:#ffffff;	
}

.oggsadmin{
	background-image:url("../immagini/1024x768/oggettos-admin.png");
	background-repeat:no-repeat;
	background-position:left top;
	width:100%;
	height:335px;
	margin-left:0px;
}

.boxprodotto4 .bottonegiu{
	bottom: 15%;
	color: #FFFFFF;
	font-family: "Roboto Slab",serif;
	font-size: 12px;
	height: auto;
	right: 0%;
	position: absolute;
	text-align: center;
	width: 50%;
}

/*** BOX DESCRIZIONE PRODOTTO 5 ***/
.boxprodotto5{
	background-image:url("../immagini/1024x768/trovapassword-sfondo.jpg");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto5{
	float: left;
    height: 100%;
    left: 0;
    position: relative;
    text-align: left;
    top: 0;
    width: 40%;
}


.contenutoprodotto5 h2 {
    margin-left: 20px;
    margin-top: 125px;
}

.textprodotto5{
	height: auto;
    margin: 20px 0 20px 20px;
    width: 75%;
}

.textprodotto5 p{
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.oggpassword{
	background-image:url("../immagini/1024x768/oggettopassword.png");
	background-position: left top;
    background-repeat: no-repeat;
    height: 335px;
    margin-left: 0;
    width: 100%;
}

.boxprodotto5 .bottonegiu{
	bottom: 15%;
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 12px;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

.contenutoprodotto5-2{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto5-2 .sfondo-box{
	background-image:url("../immagini/1024x768/trovapassword.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}

/*** BOX DESCRIZIONE PRODOTTO 6 ***/
.boxprodotto6{
	background-color:#319931;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	float:left;
}

.contenutoprodotto6{
	float: left;
    height: 100%;
    left: 0;
    position: relative;
    text-align: left;
    top: 0;
    width: 40%;
}

.contenutoprodotto6 h2 {
    margin-left: 20px;
    margin-top: 125px;
}

.textprodotto6{
	height: auto;
	margin: 20px 0 20px 20px;
	width: 75%;
}

.textprodotto6 p{
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.contenutoprodotto6 .contenutogiu {
	color:#ffffff;	
}

.oggroulette{
	background-image:url("../immagini/1024x768/oggettoroulette.jpg");
	background-position: left top;
    background-repeat: no-repeat;
    height: 335px;
    margin-left: 0;
    width: 100%;
}

.boxprodotto6 .bottonegiu{
	bottom: 15%;
    color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 12px;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

.contenutoprodotto6-2{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto6-2 .sfondo-box{
	background-image:url("../immagini/1024x768/roulette.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}

/*** BOX DESCRIZIONE PRODOTTO 7 ***/
.boxprodotto7{
	background-image:url("../immagini/1024x768/spaccio.jpg");
	background-attachment:fixed;
	background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

.contenutoprodotto7{
	float: left;
	height: 100%;
	left: 0;
	position: relative;
	text-align: left;
	top: 0;
	width: 40%;
}

.contenutoprodotto7 h2 {
    margin-left: 20px;
    margin-top: 110px;
}

.textprodotto7{
	height: auto;
    margin: 20px 0 20px 20px;
    width: 75%;
}

.textprodotto7 p{
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.oggspaccio{
	background-image:url("../immagini/1024x768/oggettospaccio.png");
	background-position: left top;
    background-repeat: no-repeat;
    height: 335px;
    margin-left: 0;
    width: 100%;
}

.boxprodotto7 .bottonegiu{
	bottom: 15%;
    color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 12px;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

/*** BOX DESCRIZIONE PRODOTTO 8 ***/
.boxprodotto8{
	background-image:url("../immagini/1024x768/security.jpg");
	background-attachment:fixed;
	background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

.contenutoprodotto8{
	float: left;
	height: 100%;
	left: 0;
	position: relative;
	text-align: left;
	top: 0;
	width: 40%;
}

.contenutoprodotto8 h2 {
    margin-left: 20px;
    margin-top: 110px;
}

.textprodotto8{
	height: auto;
    margin: 20px 0 20px 20px;
    width: 75%;
}

.textprodotto8 p{
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.oggsecurity{
	height: 335px;
    margin-left: 0;
    width: 100%;
}

.boxprodotto8 .bottonegiu{
	bottom: 15%;
    color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 12px;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

/*** BOX DESCRIZIONE PRODOTTO 9 ***/
.boxprodotto9{
	float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
	background-color:#79BCA6;
}

.contenutoprodotto9{
	float: left;
	height: 100%;
	left: 0;
	position: relative;
	text-align: left;
	top: 0;
	width: 40%;
}

.contenutoprodotto9 h2 {
    margin-left: 20px;
    margin-top: 110px;
}

.textprodotto9{
	height: auto;
    margin: 20px 0 20px 20px;
    width: 75%;
}

.textprodotto9 p{
	color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.oggbattery{
	background-image:url("../immagini/1024x768/oggettobattery.jpg");
	background-position: left top;
    background-repeat: no-repeat;
    height: 335px;
    margin-left: 0;
    width: 100%;
}

.boxprodotto9 .bottonegiu{
	bottom: 15%;
    color: #000000;
    font-family: "Roboto Slab",serif;
    font-size: 12px;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

.contenutoprodotto9-2{
	width:60%;
	height:100%;
	top: 0px;
	left: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto9-2 .sfondo-box{
	background-image:url("../immagini/1024x768/battery.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right bottom;
	height:100%;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
}

/*** BOX DESCRIZIONE CONTATTI ***/
.boxprodotto-contatti{
	background-color:#ffffff;
	height:650px;
	width:100%;
	position:relative;
	top:0;
	left:0;
	overflow:hidden;
	font-family: 'Roboto Slab', serif;
}

.contenutoprodotto-contatti{
	width:40%;
	height:100%;
	top: 0px;
	position:relative;
	text-align:left;
	float:left;
}

.contenutoprodotto-contatti h3{
	margin-top:120px;
	margin-left:20px;
	font-size:25px;	
	color:#969595;
}

.textprodotto-contatti{
	width:100%;
	height:auto;
	margin:10px 0px 10px 20px;
}

.textprodotto-contatti p{
	margin:0px;
	font-size:16px;
	color:#000000;
}

/*** MODULO DI COMPILAZIONE ***/

.boxmodulo{
	width:100%;
	height:auto;
}

.modulo{
	width:100%;
	max-width:350px;
	height:300px;
	color:#262626;
	font-size:15px;
	margin-left:20px;
}

.camponome, .campocognome, .campocitta, .campotel, .campoemail, .textarea{
	width:50%;
	height:auto;
	text-align:left;
	float:left;
	margin-top:0px;
}

.modulo input{
	max-width:146px;
	height:20px;
}

.campocitta{
	width:100% !important;
}

.campocitta input{
	width:100%;
	max-width:322px;
	height:20px;
}

.textarea{
	width:100%;
	height:auto;
}

.textarea textarea{
	width:322px;
	height:100px;
	resize: none;
}

.boxprivacy{
	width:100%;
	height:auto;
	margin-top:5px;
	float:left;
}

.boxprivacy p{
	margin:0px;	
}

.boxprivacy a{
	color:#0098D0;	
}

.boxprivacy input{
	height:auto;
	width:auto;	
}

.modulo .boxbottone{
	width:100%;
	height:auto;
	float:left;
	margin:0px;
}

.modulo .contbottone{
	width:150px;
	height:auto;
	background:url("../immagini/sfondo-bottoni.jpg");
	background-repeat:repeat-x;
	background-position:center top;
	font-size:15px;
	text-align:center;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
	margin-top:5px;
}

.modulo .contbottone a{
	display:block;
	cursor:pointer;
	color:#FFFFFF;
	padding:10px 5px;
}

.modulo .contbottone a:hover{
	color:#ffffff;
	background:#F5A101;
}

.container-box-maps{
	background-image:url("../immagini/1024x768/contatti.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:right top;
	float: left;
	height: 100%;
	width:60%;
}

.box-maps{
	background: rgba(0, 0, 0, 0) url("../immagini/1024x768/maps.png");
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:center bottom;
	background-size:100% auto;
	float: left;
	height: 100%;
	max-width: 570px;
	width:100%;
}

.iframemaps{
	bottom: 15px;
	display: none;
	height: 325px;
	position: absolute;
	right: 58px;
	width: 525px;
}
/*** BOX SOCIAL ***/
.boxsocial{
width:100%;
height:auto;
float:left;
margin-top: 10px;
text-align:center;
}

hr{
width:200px;
height:2px;
margin: 0px auto;
background-color:#d4d4d4;
border:0px;
}

.boxsocial p{
color:#000000;
font-size:18px;
margin:5px 0px;
}

.bottonisocial{
	width:70%;
	height:auto;
	text-align:center;
	margin:0px auto;
}

.bottonisocial .facebook{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/facebook1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .twitter{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/twitter1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .google{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/googleplus1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}

.bottonisocial .youtube{
	background-color:#ffffff;
	background-image:url(../immagini/1024x768/youtube1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	height:30px;
	width:30px;
	margin:0px 15px;
	float:left;
}