@media only screen and (max-width: 1000px) {
	.contenutoprodotto {
		width: 60%;
	}
/*** SFONDI BOX DESCRIZIONE PRODOTTO ***/
	.boxprodotto1{
		background:#ffffff url("../immagini/softshop.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto2{
		background:url("../immagini/ristomanager.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto3{
		background:url("../immagini/gestionemessaggi.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto4{
		background:url("../immagini/sadmin.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto5{
		background:url("../immagini/trovapassword.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto6{
		background:url("../immagini/roulette.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto7{
		background:url("../immagini/spaccio.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto8{
		background:url("../immagini/security.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto9{
		background:url("../immagini/battery.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto-contatti{
		background:#ffffff url("../immagini/contatti.jpg") no-repeat fixed left /cover;
		height: 750px;
	}
}

@media only screen and (max-width: 900px){
/*** FOOTER ***/
	.footerinfo{
		border-bottom:0px;
	}

	.contenutoinfo{
		display:none;
	}
	.logofooter{
		width:100%;
		text-align:center;
		margin:10px auto;
		padding:0px;
	}
	.contenutologo img{
		margin-top:20px;
	}
	.copyright{
		display:none;
	}
	.menufooter{
		width:100%;
		margin-top:10px;
	}
	.boxfooter ul {
		padding: 10px 0px;
	}
	.boxfooter li {
		float:none;
		border-right:0px;
		text-align:center;
		display:block;
		margin:10px 0px;
	}
	.boxfooter a {
		padding: 0px;
	}
	.boxlingua{
		text-align:center;
	}
	.lingua{
		width:100%;
		float:none;
		margin-right:auto;
		margin-left:auto;
	}
	.lingua a{
		padding:0px;
		margin:0px;
		float:none;
	}
	.boxlingua img{
		float:none;
		margin-right:0px;
		margin-top:10px;
	}

	.imglingua{
		float:left;
		width:16px;
	}
	.copyright-nascosto{
		float:none;
		display:block;
		width:95%;
		height:auto;
		margin:10px auto;
		text-align:center;
		font-size:15px;
	}
	.copyright-nascosto a{
		color:#ffffff;
		text-decoration:underline;
	}
}

@media only screen and (max-width: 700px) {
	.contenutogiu{
		left:0;
	}
	#header {
		height: 65px;
	}
	.logo-arkosoft{
		display:none;
	}
	#cd-menu-trigger .cd-menu-icon {
		top: 50%;
	}
	.cd-main-content {
		padding-top: 75px;
	}
/*** BOX PRODOTTO 1 ***/
	.boxprodotto1{
		background-image:none;
		background-color:#ffffff;
	}
	.contenutoprodotto{
		width:100%;
		margin-left:0px;
		text-align:center;
		top:0px;
	}
	.oggsoft{
		background:url("../immagini/oggettosoftshop.jpg") no-repeat center top;
		margin-left:0px;
	}
/*** BOX PRODOTTO 2 ***/
	.boxprodotto2{
		background-image:none;
		background-color:#DFDFDF;
	}
	.contenutoprodotto2{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.contenutoprodotto2 h2{
		background-color:#D12323;
		height:100px;
		margin-top:0px;
	}
	.contenutoprodotto2 h2 img{
		margin-top:0px;
	}
	.oggristo{
		background:url("../immagini/oggettoristo.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto2 .contenutogiu{
		left:0;
	}
/*** BOX PRODOTTO 3 ***/
	.boxprodotto3{
		background-image:none;
		background-color:#FFDA44;
	}
	.contenutoprodotto3{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggmex{
		background:url("../immagini/oggettomex.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto3 .contenutogiu{
		left:0;
	}
/*** BOX PRODOTTO 4 ***/
	.boxprodotto4{
		background-image:none;
		background-color:#936543;
	}
	.contenutoprodotto4{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggsadmin{
		background:url("../immagini/oggettos-admin.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto4 .contenutogiu{
		top:45%;
		left:0;
	}
/*** BOX PRODOTTO 5 ***/
	.boxprodotto5{
		background:#5D8EBB url("../immagini/trovapassword2.jpg") repeat-x center center;
	}
	.contenutoprodotto5{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggpassword{
		background:url("../immagini/oggettopassword.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto5 .contenutogiu{
		left:0;
	}
/*** BOX PRODOTTO 6 ***/
	.boxprodotto6{
		background-image:none;
		background-color:#319931;
	}
	.contenutoprodotto6{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggroulette{
		background:url("../immagini/oggettoroulette.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto6 .contenutogiu{
		top:65%;
		left:0;
	}
/*** BOX PRODOTTO 7 ***/
	.boxprodotto7{
		background:url("../immagini/spaccio2.jpg") no-repeat fixed center center /cover;
	}
	.contenutoprodotto7{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggspaccio{
		background:url("../immagini/oggettospaccio.png") no-repeat center top;
		margin-left:0px;
	}
	.contenutoprodotto7 .contenutogiu{
		left:0;
	}
/*** BOX PRODOTTO 8 ***/
	.boxprodotto8{
		background-image:none;
		background-color:#E6E6E6;
	}
	.contenutoprodotto8{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggsecurity{
		margin-left:0px;
	}

	.contenutoprodotto8 .contenutogiu{
		top: 65%;
		left:0;
	}
/*** BOX PRODOTTO 9 ***/
	.boxprodotto9{
		background-image:none;
		background-color:#79BCA6;
	}
	.contenutoprodotto9{
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.oggbattery{
		background:url("../immagini/oggettobattery.png") no-repeat center top;
		margin-top:20px;
	}

	.contenutoprodotto9 .contenutogiu{
		left:0;
	}
/*** BOX CONTATTI ***/
	.boxprodotto-contatti{
		background-image:none;
		background-color:#ffffff;
		height: 900px;
	}
	.contenutoprodotto-contatti{
		width:100%;
		margin-left:0px;
		text-align:left;
		top:64px;
	}
	.contenutoprodotto-contatti h2, h3{
		margin-left:10px;
	}
	.textprodotto-contatti{
		margin-left:10px;
	}
	.modulo{
		width:95%;
		max-width:95%;
		height:auto;
		text-align:center;
		margin:0px auto;
	}
	.camponome, .campocognome, .campocitta, .campotel, .campoemail, .textarea{
		width:99%;
	}
	.camponome span, .campocognome span, .campocitta span, .campotel span, .campoemail span, .textarea{
		width:25%;
		display:block;
	}
	.modulo input{
		max-width:100%;
	}
	.campocitta input{
		max-width:250px;
	}
	.textarea textarea{
		width:250px;
		height:100px;
	}
}

@media only screen and (max-width: 500px) {
	.contenutoprodotto h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto2 h2 img{
		width:95%;
		max-width:350px;
		height:auto;
	}
	.contenutoprodotto3 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto4 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto5 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto6 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto7 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto8 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto9 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
}