@media only screen and (min-width: 810px) {
	.contenutoprodotto2{
		top: 110px;
	}
	.boxprodotto2 .bottonegiu{
		bottom: 18%;
	}
	.contenutoprodotto3{
		top: 110px;
	}
	.boxprodotto3 .bottonegiu{
		bottom: 18%;
	}
	.contenutoprodotto4{
		top: 110px;
	}
	.boxprodotto4 .bottonegiu{
		bottom: 18%;
	}
	.oggsadmin{
		margin-left:-80px;
	}
	.contenutoprodotto5{
		top: 110px;
	}
	.boxprodotto5 .bottonegiu{
		bottom: 18%;
	}
	.oggpassword{
		margin-left:-80px;
	}
	.contenutoprodotto6{
		top: 110px;
	}
	.boxprodotto6 .bottonegiu{
		bottom: 18%;
	}
	.contenutoprodotto7{
		top: 110px;
	}
	.boxprodotto7 .bottonegiu{
		bottom: 18%;
	}
	.contenutoprodotto8{
		top: 110px;
	}
	.boxprodotto8 .bottonegiu{
		bottom: 18%;
	}
	.contenutoprodotto9{
		top: 110px;
	}
	.boxprodotto9 .bottonegiu{
		bottom: 18%;
	}
}
@media only screen and (max-width: 800px) {
	.logo-arkosoft{
		display:none;
	}
	#header{
		height:65px;
	}
	#cd-logo .logo-mondo {
		display: none;
	}
	#cd-logo .logo-intero {
		display: block;
	}
	#cd-menu-trigger .cd-menu-icon {
		top: 50%;
	}
	#cd-logo img:hover{
		background:none;
	}
	.cd-main-content {
		padding-top: 65px;
	}
/*** SFONDI BOX DESCRIZIONE PRODOTTO ***/
	.boxprodotto1{
		background:#ffffff url("../immagini/softshop.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto2{
		background:url("../immagini/ristomanager.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto3{
		background:url("../immagini/gestionemessaggi.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto4{
		background:url("../immagini/sadmin.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto5{
		background:url("../immagini/trovapassword.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto6{
		background:url("../immagini/roulette.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto7{
		background:url("../immagini/spaccio.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto8{
		background:url("../immagini/security.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto9{
		background:url("../immagini/battery.jpg") no-repeat fixed center left /cover;
	}
	.boxprodotto-contatti{
		background:#ffffff url("../immagini/contatti.jpg") no-repeat fixed left /cover;
		height: 750px;
	}
}

@media only screen and (max-width: 800px){
/*** FOOTER ***/
	.footerinfo{
		border-bottom:0px;
	}

	.contenutoinfo{
		display:none;
	}
	.logofooter{
		width:100%;
		text-align:center;
		margin:10px auto;
		padding:0px;
	}
	.contenutologo img{
		margin-top:20px;
	}
	.copyright{
		display:none;
	}
	.menufooter{
		width:100%;
		margin-top:10px;
	}
	.boxfooter ul {
		padding: 10px 0px;
	}
	.boxfooter li {
		float:none;
		border-right:0px;
		text-align:center;
		display:block;
		margin:10px 0px;
	}
	.boxfooter a {
		padding: 0px;
	}
	.boxlingua{
		text-align:center;
	}
	.lingua{
		width:100%;
		float:none;
		margin-right:auto;
		margin-left:auto;
	}
	.lingua a{
		padding:0px;
		margin:0px;
		float:none;
	}
	.boxlingua img{
		float:none;
		margin-right:0px;
		margin-top:10px;
	}

	.imglingua{
		float:left;
		width:16px;
	}
	.copyright-nascosto{
		float:none;
		display:block;
		width:95%;
		height:auto;
		margin:10px auto;
		text-align:center;
		font-size:15px;
	}
	.copyright-nascosto a{
		color:#ffffff;
		text-decoration:underline;
	}
}

@media only screen and (max-width: 700px) {
	.boxbottone{
		margin:30px 0px;
	}
	.contenutogiu{
		top:60%;
		left:0;
	}
/*** BOX PRODOTTO 1 ***/
	.boxprodotto1{
		background-image:none;
		background-color:#ffffff;
	}
	.contenutoprodotto{
		background:url("../immagini/oggettosoftshop1.jpg") no-repeat center bottom;
		width:100%;
		margin-left:0px;
		text-align:center;
		top:10px;
	}
	.textprodotto{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto h3{
		margin:10px;
	}
	.textprodotto h3 p{
		font-size:18px;
	}
	.boxprodotto1 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggsoft{
		display:none;
	}
/*** BOX PRODOTTO 2 ***/
	.boxprodotto2{
		background-image:none;
		background-color:#DFDFDF;
	}
	.contenutoprodotto2{
		background:url("../immagini/oggettoristo2.png") no-repeat center bottom;
		width:100%;
		margin-left:0px;
		text-align:center;
		top:64px;
	}
	.textprodotto2{
		margin:30px 0px;
		width:100%;
	}
	.contenutoprodotto2 h2{
		background-color:#D12323;
		height:100px;
		margin-top:0px;
	}
	.contenutoprodotto2 h2 img{
		margin-top:0px;
	}
	.textprodotto2 h3{
		margin:10px;
	}
	.textprodotto2 h3 p{
		font-size:18px;
	}
	.boxprodotto2 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggristo{
		display:none;
	}
/*** BOX PRODOTTO 3 ***/
	.boxprodotto3{
		background-image:none;
	}
	.contenutoprodotto3{
		background:url("../immagini/oggettomex1.png") no-repeat center bottom;
		width:100%;
		top:66px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto3{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto3 h3{
		margin:10px;
	}
	.textprodotto3 h3 p{
		font-size:18px;
	}
	.boxprodotto3 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggmex{
		display:none;
	}
/*** BOX PRODOTTO 4 ***/
	.boxprodotto4{
		background-image:none;
		background-color:#936543;
	}
	.contenutoprodotto4{
		background:url("../immagini/oggettos-admin1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto4{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto4 h3{
		margin:10px;
	}
	.textprodotto4 h3 p{
		font-size:18px;
	}
	.boxprodotto4 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggsadmin{
		display:none;
	}
/*** BOX PRODOTTO 5 ***/
	.boxprodotto5{
		background:#5D8EBB url("../immagini/trovapassword2.jpg") repeat-x center center;
	}
	.contenutoprodotto5{
		background:url("../immagini/oggettopassword1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto5{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto5 h3{
		margin:10px;
	}
	.textprodotto5 h3 p{
		font-size:18px;
	}
	.boxprodotto5 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggpassword{
		display:none;
	}
/*** BOX PRODOTTO 6 ***/
	.boxprodotto6{
		background-image:none;
		background-color:#319931;
	}
	.contenutoprodotto6{
		background:url("../immagini/oggettoroulette1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto6{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto6 h3{
		margin:10px;
	}
	.textprodotto6 h3 p{
		font-size:18px;
	}
	.boxprodotto6 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggroulette{
		display:none;
	}
/*** BOX PRODOTTO 7 ***/
	.boxprodotto7{
		background:url("../immagini/spaccio2.jpg") no-repeat fixed center center /cover;
	}
	.contenutoprodotto7{
		background:url("../immagini/oggettospaccio1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto7{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto7 h3{
		margin:10px;
	}
	.textprodotto7 h3 p{
		font-size:18px;
	}
	.boxprodotto7 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggspaccio{
		display:none;
	}
/*** BOX PRODOTTO 8 ***/
	.boxprodotto8{
		background-image:none;
		background-color:#E6E6E6;
	}
	.contenutoprodotto8{
		background:url("../immagini/oggettoshost1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto8{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto8 h3{
		margin:10px;
	}
	.textprodotto8 h3 p{
		font-size:18px;
	}
	.boxprodotto8 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggsecurity{
		display:none;
	}
/*** BOX PRODOTTO 9 ***/
	.boxprodotto9{
		background-image:none;
		background-color:#79BCA6;
	}
	.contenutoprodotto9{
		background:url("../immagini/oggettobattery1.png") no-repeat center bottom;
		width:100%;
		top:64px;
		margin-left:0px;
		text-align:center;
	}
	.textprodotto9{
		margin:30px 0px;
		width:100%;
	}
	.textprodotto9 h3{
		margin:10px;
	}
	.textprodotto9 h3 p{
		font-size:18px;
	}
	.boxprodotto9 .bottonegiu{
		width: 100%;
		height:auto;
		bottom: 70px;
		left: 0;
		position: absolute;
	}
	.oggbattery{
		display:none;
	}
/*** BOX CONTATTI ***/
	.boxprodotto-contatti{
		background-image:none;
		background-color:#ffffff;
		height: 900px;
	}
	.contenutoprodotto-contatti{
		width:95%;
		margin-left:0px;
		text-align:left;
		top:64px;
	}
	.contenutoprodotto-contatti h2, .contenutoprodotto-contatti h3{
		margin-left:10px;
	}
	.textprodotto-contatti{
		margin-left:10px;
	}
	.modulo{
		width:95%;
		max-width:95%;
		height:auto;
		text-align:center;
		margin:0px auto;
	}
	.camponome, .campocognome, .campocitta, .campotel, .campoemail, .textarea{
		width:100%;
	}
	.camponome span, .campocognome span, .campocitta span, .campotel span, .campoemail span, .textarea{
		width:100%;
		display:block;
	}
	.modulo input{
		max-width:100%;
		width:100%;
		height:30px;
	}
	.textarea textarea{
		width:100%;
		height:100px;
	}
	.boxprivacy input{
		height:auto;
		width:auto;	
	}
}

@media only screen and (max-width: 500px) {
	.contenutoprodotto h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto2 h2 img{
		width:95%;
		max-width:350px;
		height:auto;
	}
	.contenutoprodotto3 h2 img{
		width:95%;
		max-width:350px;
		height:auto;
	}
	.contenutoprodotto4 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto5 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto6 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto7 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto8 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
	.contenutoprodotto9 h2 img{
		width:95%;
		max-width:300px;
		height:auto;
	}
}