/* IL CSS DELLE SCHEDE TECNICHE SONO UGUALI PER TUTTI 
MA SONO COMUNQUE DIVISI CON I PROPRI NOMI LE VARIE MODIFICHE FATTE PER OGNIUNA PAGINA
*/
.box-schedatecnica{
	width:100%;
	height:auto;
	background-color:#ffffff;
	float:left;
	font-family: 'Bitter', serif;
}
@media only screen and (max-width: 500px) {
	.slidescheda{
		height:300px!important;
	}
}
.slidescheda{
	width:100%;
	height:410px;
	float:left;
}
.slidescheda p{
	margin:10px 0px;
}
.textslide{
	width:50%;
	height:auto;
	margin-top:5%;
	float:left;
	font-family: 'Bitter', serif;
}
.box-bottoneslide{
	width:100%;
	height:auto;
	float:left;
}
.bottoneslide{
	max-width:130px;
	background:#0A5F8F;
	padding:5px 10px;
	font-family: 'Bitter', serif;
	font-size:18px;
	border-radius:5px;
	margin-left:10px;
	margin-top:10px;
}
.bottoneslide a{
	color:#ffffff;
}
.bottoneslide a:hover{
	text-decoration:underline;
}
.box-descrizione{
	width:100%;
	max-width:1024px;
	height:auto;
	margin:0px auto;
	background-color:#ffffff;
}
.box-descrizione2{
	width:100%;
	max-width:1024px;
	height:auto;
	margin:0px auto;
	background-color:#ffffff;
}
.icona-desc{
	width:45%;
	height:auto;
	margin:20px 0px;
	text-align:center;
	float:left;
	display:block;
}
.box-descrizione2 .icona-desc{
	width:45%;
	height:auto;
	margin:20px 0px;
	text-align:center;
	float:right;
	display:block;
}
.icona-desc img{
	width:90%;
	max-width:355px;
	height:auto;
	text-align:center;
}
.icona-desc2{
	display:none;
}
@media only screen and (max-width: 1000px) {
	.icona-desc{
		display:none;
		width:100%;
	}
	.box-descrizione2 .icona-desc{
		display:none;
		width:100%;
	}
	.icona-desc2{
		display:block;
		width:100%;
		text-align:center;
	}
}
.icona-desc2 img{
	width:90%;
	max-width:250px;
	height:auto;
	margin:0px auto;
}
.descizione-softw{
	float:right;
	width:53%;
	height:auto;
	text-align:right;
	margin:20px 10px 20px 0px;
}
.box-descrizione2 .descizione-softw{
	float:left;
	width:53%;
	height:auto;
	text-align:left;
	margin:20px 0px 20px 10px;
}
@media only screen and (max-width: 1000px) {
	.descizione-softw{
		width:100%;
		text-align:center;
		margin:20px 0px 20px 0px;
	}
	.box-descrizione2 .descizione-softw{
		width:100%;
		text-align:center;
		margin:20px 0px 20px 0px;
	}
}
.title-softw{
	font-family: 'Bitter', serif;
	font-size:35px;
	font-weight:700;
	color:#E6624D;
}
.desc-softw{
	color:#000000;
	text-align:right;
	font-family: 'Bitter', serif;
	font-size:20px;
}
.box-descrizione2 .desc-softw{
	text-align:left;
}
@media only screen and (max-width: 1000px) {
	.textslide{
		width:100%;
	}
	.desc-softw{
		width:90%;
		text-align:center;
		margin:0px auto;
	}
	.box-descrizione2 .desc-softw{
		width:90%;
		text-align:center;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.title-softw{
		font-size:20px;
	}
	.desc-softw{
		font-size:18px;
	}
	.box-descrizione2 .title-softw{
		font-size:20px;
	}
	.box-descrizione2 .desc-softw{
		font-size:20px;
	}
}
.slidescheda-nasco{
	display:none;
}
@media only screen and (max-width: 1000px) {
	.slidescheda-nasco{
		display:block;
		width:100%;
		height:auto;
		float:left;
	}
}
/* SCEHDA TECNICA: SOFTSHOP */
.softshop{
	border-bottom:2px solid #EFCA5F;
}
.slidesoftshop1{
	background: url("../immagini/slidesoftshop1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesoftshop1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:400;
	padding:5px 10px 5px 10px;
}
.slidesoftshop1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidesoftshop1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidesoftshop1 .textslide .title{
		font-size:18px;
	}
	.slidesoftshop1 .textslide .desc1{
		font-size:18px;
	}
	.slidesoftshop1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidesoftshop2{
	background: url("../immagini/slidesoftshop2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesoftshop2 .textslide{
	background-color:rgba(255,255,255, 0.7);
	color:#000000;
	padding:5px 10px;
	width:50%;
	display:block;
}
.slidesoftshop2 .textslide .title{
	font-size:35px;
	font-weight:700;
	color:#E6624D;
}
.slidesoftshop2 .textslide .descrizione{
	font-size:18px;
	color:#000000;
}
@media only screen and (max-width: 1000px) {
	.slidesoftshop2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
		padding:5px 10px;
	}
	.slidesoftshop2 .textslide{
		background:none;
		margin: 345px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidesoftshop2 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidesoftshop2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidesoftshop2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidesoftshop2 .textslide{
		margin: 250px 0px;
	}
	.slidesoftshop2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidesoftshop2 .descrizione{
		font-size:18px;
	}
}
.slidesoftshop3{
	background: url("../immagini/slidesoftshop3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesoftshop3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slidesoftshop3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	color:#E6624D;
	font-size:35px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidesoftshop3 .textslide .descrizione{
	color:#000000;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	font-size:18px;
}
.slidesoftshop3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidesoftshop3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slidesoftshop3 .textslide{
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidesoftshop3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidesoftshop3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidesoftshop3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidesoftshop3 .textslide{
		margin: 256px 0 5px;
	}
	.slidesoftshop3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidesoftshop3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: RISTOMANAGER */
.ristomanager{
	border-bottom:2px solid #D12424;
}
.slideristo1{
	background: url("../immagini/slideristo1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideristo1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:400;
	padding:5px 10px 5px 10px;
}
.slideristo1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slideristo1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slideristo1 .textslide .title{
		font-size:18px;
	}
	.slideristo1 .textslide .desc1{
		font-size:18px;
	}
	.slideristo1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slideristo2{
	background: url("../immagini/slideristo2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideristo2 .textslide{
	color:#000000;
	width:50%;
	display:block;
}
.slideristo2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	font-size:35px;
	font-weight:700;
	color:#E6624D;
	padding:5px 10px;
}
.slidescheda .slideristo2 .textslide p{
	margin:5px 0px;
}
.slideristo2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	font-size:18px;
	color:#000000;
	padding:5px 10px;
}
@media only screen and (max-width: 1000px) {
	.slideristo2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slideristo2 .textslide{
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
	}
	.slideristo2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slideristo2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideristo2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideristo2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slideristo2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideristo2 .descrizione{
		font-size:18px;
	}
}
.slideristo3{
	background: url("../immagini/slidesoftshop3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideristo3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slideristo3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	color:#E6624D;
	font-size:35px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slideristo3 .textslide .descrizione{
	color:#000000;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	font-size:18px;
}
.slideristo3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slideristo3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slideristo3 .textslide{
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slideristo3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slideristo3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideristo3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideristo3 .textslide{
		margin: 256px 0 5px;
	}
	.slideristo3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideristo3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: GESTIONE MESSAGGI */
.gestionemssaggi{
	border-bottom:2px solid #FFBF2E;
}
.slidegmex1{
	background: url("../immagini/slidegmex1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidegmex1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:400;
	padding:5px 10px 5px 10px;
}
.slidegmex1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidegmex1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidegmex1 .textslide .title{
		font-size:18px;
	}
	.slidegmex1 .textslide .desc1{
		font-size:18px;
	}
	.slidegmex1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidegmex2{
	background: url("../immagini/slidegmex2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidegmex2 .textslide{
	color:#000000;
	width:50%;
	display:block;
}
.slidegmex2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	font-size:35px;
	font-weight:700;
	color:#E6624D;
	padding:5px 10px;
}
.slidescheda .slidegmex2 .textslide p{
	margin:5px 0px;
}
.slidegmex2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	font-size:18px;
	color:#000000;
	padding:5px 10px;
}
@media only screen and (max-width: 1000px) {
	.slidegmex2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slidegmex2 .textslide{
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
	}
	.slidegmex2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slidegmex2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidegmex2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidegmex2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slidegmex2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidegmex2 .descrizione{
		font-size:18px;
	}
}
.slidegmex3{
	background: url("../immagini/slidegmex3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidegmex3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
}
.slidegmex3 .textslide .title{
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slidegmex3 .textslide .descrizione{
	color:#000000;
	font-size:18px;
}
.slidegmex3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidegmex3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		font-size:25px;
		padding:5px 10px;
	}
	.slidegmex3 .textslide{
		background:none;
		margin: 359px 0 0px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidegmex3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidegmex3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidegmex3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidegmex3 .textslide{
		margin: 256px 0 0px;
	}
	.slidegmex3 .textslide .title{
		font-size:14px;
		padding:10px 10px;
	}
	.slidescheda-nasco .slidegmex3 .descrizione{
		font-size:18px;
	}
}
@media only screen and (max-width: 400px) {
	.slidegmex3 .textslide{
		margin: 257px 0 5px;
	}
}
/* SCEHDA TECNICA: S-ADMIN */
.sadmin{
	border-bottom:2px solid #5788AF;
}
.slideadmin1{
	background: url("../immagini/slidesadmin1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideadmin1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:400;
	padding:5px 10px 5px 10px;
}
.slideadmin1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slideadmin1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slideadmin1 .textslide .title{
		font-size:18px;
	}
	.slideadmin1 .textslide .desc1{
		font-size:18px;
	}
	.slideadmin1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slideadmin2{
	background: url("../immagini/slidesadmin2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideadmin2 .textslide{
	color:#000000;
	width:50%;
	display:block;
}
.slideadmin2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	font-size:35px;
	font-weight:700;
	color:#E6624D;
	padding:5px 10px;
}
.slidescheda .slideadmin2 .textslide p{
	margin:5px 0px;
}
.slideadmin2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	font-size:18px;
	color:#000000;
	padding:5px 10px;
}
@media only screen and (max-width: 1000px) {
	.slideadmin2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slideadmin2 .textslide{
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
	}
	.slideadmin2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slideadmin2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideadmin2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideadmin2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slideadmin2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideadmin2 .descrizione{
		font-size:18px;
	}
}
.slideadmin3{
	background: url("../immagini/slidesadmin3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideadmin3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slideadmin3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	color:#E6624D;
	font-size:35px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slideadmin3 .textslide .descrizione{
	color:#000000;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	font-size:18px;
}
.slideadmin3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slideadmin3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slideadmin3 .textslide{
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slideadmin3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slideadmin3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideadmin3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideadmin3 .textslide{
		margin: 256px 0 5px;
	}
	.slideadmin3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideadmin3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: TROVAPASSWORD */
.password{
	border-bottom:2px solid #323A45;
}
.slidepassword1{
	background: url("../immagini/slidepassword1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidepassword1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:400;
	padding:5px 10px 5px 10px;
}
.slidepassword1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidepassword1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidepassword1 .textslide .title{
		font-size:18px;
	}
	.slidepassword1 .textslide .desc1{
		font-size:18px;
	}
	.slidepassword1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidepassword2{
	background: url("../immagini/slidepassword2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidepassword2 .textslide{
	color:#000000;
	width:55%;
	display:block;
}
.slidepassword2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	font-size:35px;
	font-weight:700;
	color:#E6624D;
	padding:5px 10px;
}
.slidescheda .slidepassword2 .textslide p{
	margin:5px 0px;
}
.slidepassword2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	font-size:18px;
	color:#000000;
	padding:5px 10px;
	width:80%;
}
@media only screen and (max-width: 1000px) {
	.slidepassword2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slidepassword2 .textslide{
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
	}
	.slidepassword2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slidepassword2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidepassword2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidepassword2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slidepassword2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidepassword2 .descrizione{
		font-size:18px;
	}
}
.slidepassword3{
	background: url("../immagini/slidepassword3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidepassword3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
}
.slidepassword3 .textslide .title{
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slidepassword3 .textslide .descrizione{
	color:#000000;
	font-size:18px;
}
.slidepassword3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidepassword3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		padding:5px 10px;
		font-size:30px;
	}
	.slidepassword3 .textslide{
		background:none;
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidepassword3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidepassword3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidepassword3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidepassword3 .textslide{
		margin: 256px 0 5px;
	}
	.slidepassword3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidepassword3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: ROULETTE ANALITCS */
.roulette{
	border-bottom:2px solid #3C9E3C;
}
.slideroulette1{
	background: url("../immagini/slideroulette1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideroulette1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	padding:5px 10px 5px 10px;
	color:#ffffff;
	font-size:30px;
	font-weight:400;
}
.slideroulette1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slideroulette1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slideroulette1 .textslide .title{
		font-size:18px;
	}
	.slideroulette1 .textslide .desc1{
		font-size:18px;
	}
	.slideroulette1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slideroulette2{
	background: url("../immagini/slideroulette2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideroulette2 .textslide{
	color:#000000;
	width:55%;
	display:block;
}
.slideroulette2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	font-size:35px;
	font-weight:700;
	color:#E6624D;
	padding:5px 10px;
}
.slidescheda .slideroulette2 .textslide p{
	margin:5px 0px;
}
.slideroulette2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	font-size:18px;
	color:#000000;
	padding:5px 10px;
	width:80%;
}
@media only screen and (max-width: 1000px) {
	.slideroulette2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slideroulette2 .textslide{
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
	}
	.slideroulette2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slideroulette2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideroulette2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideroulette2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slideroulette2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideroulette2 .descrizione{
		font-size:18px;
	}
}
.slideroulette3{
	background: url("../immagini/slideroulette3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slideroulette3 .textslide{
	width:60%;
	margin-top:10%;
	display:block;
}
.slideroulette3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slideroulette3 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#000000;
	font-size:18px;
}
.slideroulette3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slideroulette3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		padding:5px 10px;
		font-size:30px;
	}
	.slideroulette3 .textslide{
		background:none;
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slideroulette3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slideroulette3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slideroulette3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slideroulette3 .textslide{
		margin: 256px 0 5px;
	}
	.slideroulette3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slideroulette3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: SPACCIO WORLD */
.spaccio{
	border-bottom:2px solid #DB8AC8;
}
.slidespaccio1{
	background: url("../immagini/slidespaccio1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidespaccio1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	padding:5px 10px 5px 10px;
	color:#ffffff;
	font-size:30px;
	font-weight:400;
}
.slidespaccio1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidespaccio1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidespaccio1 .textslide .title{
		font-size:18px;
	}
	.slidespaccio1 .textslide .desc1{
		font-size:18px;
	}
	.slidespaccio1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidespaccio2{
	background: url("../immagini/slidespaccio2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidespaccio2 .textslide{
	color:#000000;
	width:50%;
	display:block;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px;
}
.slidespaccio2 .textslide .title{
	font-size:35px;
	font-weight:700;
	color:#E6624D;
}
.slidescheda .slidespaccio2 .textslide p{
	margin:5px 0px;
}
.slidespaccio2 .textslide .descrizione{
	font-size:18px;
	color:#000000;
	width:80%;
}
@media only screen and (max-width: 1000px) {
	.slidespaccio2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slidespaccio2 .textslide{
		background:none;
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
		padding:0px;
	}
	.slidespaccio2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slidespaccio2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidespaccio2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidespaccio2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slidespaccio2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidespaccio2 .descrizione{
		font-size:18px;
	}
}
.slidespaccio3{
	background: url("../immagini/slidespaccio3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidespaccio3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slidespaccio3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slidespaccio3 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#000000;
	font-size:18px;
}
.slidespaccio3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidespaccio3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		padding:5px 10px;
		font-size:30px;
	}
	.slidespaccio3 .textslide{
		background:none;
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidespaccio3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidespaccio3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidespaccio3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidespaccio3 .textslide{
		margin: 256px 0 5px;
	}
	.slidespaccio3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidespaccio3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: SECURITY HOST */
.security{
	border-bottom:2px solid #7BC4F8;
}
.slidesecurity1{
	background: url("../immagini/slidesecurity1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesecurity1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	padding:5px 10px 5px 10px;
	color:#ffffff;
	font-size:30px;
	font-weight:400;
}
.slidesecurity1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidesecurity1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidesecurity1 .textslide .title{
		font-size:18px;
	}
	.slidesecurity1 .textslide .desc1{
		font-size:18px;
	}
	.slidesecurity1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidesecurity2{
	background: url("../immagini/slidesecurity2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesecurity2 .textslide{
	color:#000000;
	width:50%;
	display:block;
}
.slidesecurity2 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px;
	font-size:35px;
	font-weight:700;
	color:#E6624D;
}
.slidescheda .slidesecurity2 .textslide p{
	margin:5px 0px;
}
.slidesecurity2 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px;
	font-size:18px;
	color:#000000;
	width:80%;
}
@media only screen and (max-width: 1000px) {
	.slidesecurity2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
	}
	.slidesecurity2 .textslide{
		background:none;
		margin: 357px 0 5px;
		width:100%;
		text-align:center;
		padding:0px;
	}
	.slidesecurity2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slidesecurity2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidesecurity2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidesecurity2 .textslide{
		margin: 261px 0px 0px 0px;
	}
	.slidesecurity2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidesecurity2 .descrizione{
		font-size:18px;
	}
}
.slidesecurity3{
	background: url("../immagini/slidesecurity3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidesecurity3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slidesecurity3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slidesecurity3 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#000000;
	font-size:18px;
}
.slidesecurity3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidesecurity3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		padding:5px 10px;
		font-size:30px;
	}
	.slidesecurity3 .textslide{
		background:none;
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidesecurity3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidesecurity3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidesecurity3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidesecurity3 .textslide{
		margin: 256px 0 5px;
	}
	.slidesecurity3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidesecurity3 .descrizione{
		font-size:18px;
	}
}
/* SCEHDA TECNICA: BATTERY ALERT */
.battery{
	border-bottom:2px solid #488FCD;
}
.slidebattery1{
	background: url("../immagini/slidebattery1.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidebattery1 .textslide .title{
	background-color:rgba(0,0,0, 0.5);
	padding:5px 10px 5px 10px;
	color:#ffffff;
	font-size:30px;
	font-weight:400;
}
.slidebattery1 .textslide .desc1{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 10px 5px 10px;
}
.slidebattery1 .textslide .desc2{
	background-color:rgba(0,0,0, 0.5);
	color:#ffffff;
	font-size:25px;
	font-weight:700;
	padding:5px 9px 5px 10px;
}
@media only screen and (max-width: 500px) {
	.slidebattery1 .textslide .title{
		font-size:18px;
	}
	.slidebattery1 .textslide .desc1{
		font-size:18px;
	}
	.slidebattery1 .textslide .desc2{
		font-size:18px;
		padding:5px 6px 5px 10px;
	}
}
.slidebattery2{
	background: url("../immagini/slidebattery2.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidebattery2 .textslide{
	color:#000000;
	width:50%;
	display:block;
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px;
}
.slidebattery2 .textslide .title{
	font-size:35px;
	font-weight:700;
	color:#E6624D;
}
.slidescheda .slidebattery2 .textslide p{
	margin:0px;
}
.slidebattery2 .textslide .descrizione{
	font-size:18px;
	color:#000000;
	width:80%;
}
@media only screen and (max-width: 1000px) {
	.slidebattery2 .textslide .title{
		background:rgba(0,0,0, 0.7);
		font-size:30px;
		padding:0px 10px;
	}
	.slidebattery2 .textslide{
		background:none;
		margin: 327px 0 5px;
		width:100%;
		text-align:center;
		padding:0px;
	}
	.slidebattery2 .textslide .descrizione{
		background:none;
		display:none;
	}
	.slidescheda-nasco .slidebattery2{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidebattery2 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:0px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidebattery2 .textslide{
		margin: 219px 0px 0px 0px;
	}
	.slidescheda .slidebattery2 .textslide p{
		margin:10px 0px;
	}
	.slidebattery2 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidebattery2 .descrizione{
		font-size:18px;
	}
}
.slidebattery3{
	background: url("../immagini/slidebattery3.jpg") no-repeat center top;
	width:100%;
	height:100%;
	max-width:1024px;
	margin:0px auto;
}
.slidebattery3 .textslide{
	width:50%;
	margin-top:10%;
	display:block;
}
.slidebattery3 .textslide .title{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#E6624D;
	font-size:35px;
	font-weight:700;
}
.slidebattery3 .textslide .descrizione{
	background-color:rgba(255,255,255, 0.7);
	padding:5px 10px 5px 10px;
	color:#000000;
	font-size:18px;
}
.slidebattery3 p{
	margin:5px 0px;
}
@media only screen and (max-width: 1000px) {
	.slidebattery3 .textslide .title{
		background-color:rgba(0,0,0, 0.7);
		padding:5px 10px;
		font-size:30px;
	}
	.slidebattery3 .textslide{
		background:none;
		margin: 352px 0 5px;
		padding:5px 0px;
		width:100%;
		text-align:center;
	}
	.slidebattery3 .textslide .descrizione{
		display:none;
	}
	.slidescheda-nasco .slidebattery3{
		background:none;
		width:100%;
		max-width:1024px;
		height:auto;
	}
	.slidescheda-nasco .slidebattery3 .descrizione{
		text-align:center;
		color:#000000;
		width:90%;
		margin:20px auto;
	}
}
@media only screen and (max-width: 500px) {
	.slidebattery3 .textslide{
		margin: 256px 0 5px;
	}
	.slidebattery3 .textslide .title{
		font-size:20px;
		padding:5px 10px;
	}
	.slidescheda-nasco .slidebattery3 .descrizione{
		font-size:18px;
	}
}