html * {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/**, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}*/

html, body {
/* you need to set this to assign to the main element a min height of 100% */
height: 100%;
}

body{
color:#ffffff;
margin:0px;
padding:0px;
font-size:18px;
font-family: 'Raleway', sans-serif;
}

a img{
border:0px;
cursor:pointer;
}

a{
text-decoration:none;
border:0px;
cursor:pointer;
}

ol, ul {list-style: none;}

h1,h2,h3{margin:0px; font-weight:normal;}

/*** INIZIO HEADER DELLA PAGINA ***/
.logo-arkosoft{
width:100%;
height:45px;
margin:0px auto;
background:#000000;
text-align:right;
}

.logo-arkosoft img{
	padding:5px 15px;
}

.boxheader{
width:100%;
height:65px;
margin:0px auto;
}

.boxheader h1 a img{
	padding:13px 15px;
}

.ricerca{
float:right;
height:auto;
width:25%;
padding-top:15px !important;
}

.ricerca input{
float:left;
}

.ricerca .cerca{
width:100%;
height:35px;
border:0px;
color:#000000;
padding-left:5px;
background:#B9B9B9;
}

.ricerca img{
float:left;
margin-left:-30px;
margin-top:2px;
}

/*** CSS HEADER, BODY E MENU LATERALE ***/

.cd-img-replace {
/* replace text with a background-image */
display: inline-block;
overflow: hidden;
text-indent: 100%;
white-space: nowrap;
}

.overflow-hidden {
overflow: hidden;
}

.cd-main-content {
/* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
height:100%;
width:100%;
top:0;
left:0;
/*z-index: 2;*/
padding-top: 65px;
/* Force Hardware Acceleration in WebKit */
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
transition-property: transform;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
transition-duration: 0.4s;
}
.cd-main-content.lateral-menu-is-open {
/* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
-webkit-transform: translateX(-260px);
-moz-transform: translateX(-260px);
-ms-transform: translateX(-260px);
-o-transform: translateX(-260px);
transform: translateX(-260px);
}

#header {
position: fixed;
top: 0;
left: 0;
height: 65px;
width: 100%;
background: url("../immagini/sfondoheader.jpg")repeat-x center center;
z-index: 2;
/* Force Hardware Acceleration in WebKit */
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
transition-property: transform;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
transition-duration: 0.4s;
}
#header.lateral-menu-is-open {
/* translate to show the lateral menu */
-webkit-transform: translateX(-260px);
-moz-transform: translateX(-260px);
-ms-transform: translateX(-260px);
-o-transform: translateX(-260px);
transform: translateX(-260px);
}
#header.is-fixed {
position: fixed;
}
@media only screen and (min-width: 1000px) {
#header {
height: 110px;
}
}

#cd-logo {
display: block;
float: left;
}
#cd-logo img {
display: block;
}

#cd-logo img:hover{
	background:url("../immagini/colorhover.png") repeat-x center center;
}

#cd-top-nav {
top: 0;
right: 0px;
height: 100%;
display: block;
}
#cd-top-nav ul {
height: 100%;
width:100%;
padding: 0px;
list-style:none;
margin:0px;
}
#cd-top-nav li {
height:auto;
display: inline-block;
margin-right: 20px;
padding-top: 1px;
font-size:15px;
}
#cd-top-nav a {
display: inline-block;
padding: 23px 0.5em;
color: #FFF;
font-weight:600;
}
#cd-top-nav a.current {
background-color: #242e30;
}
.no-touch #cd-top-nav a:hover {
color: rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 1000px) {
#cd-top-nav {
display: none;
}
}

#cd-menu-trigger {
position: absolute;
right: 0;
top: 0;
height: 100%;
width: 50px;
}
#cd-menu-trigger .cd-menu-text {
height: 100%;
color: #FFF;
font-weight: 600;
display: none;
}
#cd-menu-trigger .cd-menu-icon {
/* this span is the central line in the menu menu */
display: inline-block;
position: absolute;
left: 50%;
top: 50%;
bottom: auto;
right: auto;
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
width: 18px;
height: 2px;
background-color: #FFF;
/* these are the upper and lower lines in the menu menu */
}
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
content: '';
width: 100%;
height: 100%;
position: absolute;
background-color: inherit;
left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
bottom: 5px;
}
#cd-menu-trigger .cd-menu-icon::after {
top: 5px;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
background-color: white;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
bottom: 0;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
top: 0;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
@media only screen and (min-width: 1000px) {
#cd-menu-trigger {display:none;}
}

#cd-lateral-nav {
position: fixed;
height: 100%;
right: 0;
top: 0;
visibility: hidden;
/* the secondary navigation is covered by the main element */
/*z-index: 1;*/
width: 260px;
background-color: #242e30;
overflow-y: auto;
/* Force Hardware Acceleration in WebKit */
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
transition: transform .4s 0s, visibility 0s .4s;
/* this creates the subtle slide in animation of the navigation */
-webkit-transform: translateX(80px);
-moz-transform: translateX(80px);
-ms-transform: translateX(80px);
-o-transform: translateX(80px);
transform: translateX(80px);
}
#cd-lateral-nav .cd-navigation {
margin: 10px 0 16px;
}

#cd-lateral-nav .cd-navigation li{
	float:left;
	margin-top:10px;
}

#cd-lateral-nav .cd-navigation .ricerca{
float:noen;
height:auto;
width:100%;
}

#cd-lateral-nav .cd-navigation .ricerca input{
float:left;
}

#cd-lateral-nav .cd-navigation .ricerca .cerca{
width:90%;
height:35px;
border:0px;
color:#000000;
padding-left:5px;
background:#B9B9B9;
}

#cd-lateral-nav .sub-menu {
padding: 0 10px 20px 15px;
display: none;
}
#cd-lateral-nav a {
display: block;
line-height: 2em;
padding: 0px;
color: #aab5b7;
}
#cd-lateral-nav a.current {
background-color: #3a4a4d;
color: #FFF;
}
.no-touch #cd-lateral-nav a:hover {
color: #FFF;
}
#cd-lateral-nav a:hover {
color: #0000FF;
}
@media only screen and (min-width: 1000px) {
#cd-lateral-nav .cd-navigation {
margin: 20px 0;
}
}
#cd-lateral-nav.lateral-menu-is-open {
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0);
visibility: visible;
-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
transition: transform .4s 0s, visibility 0s 0s;
/* smooth the scrolling on touch devices - webkit browsers */
-webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
position: relative;
font-weight: 600;
/* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
content: '';
display: block;
height: 11px;
width: 8px;
position: absolute;
top: 50%;
bottom: auto;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
right: 1em;
background: url("../img/cd-arrow.svg") no-repeat center center;
background-size: 8px 11px;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
transition-property: transform;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
-webkit-transform: translateY(-50%) rotate(90deg);
-moz-transform: translateY(-50%) rotate(90deg);
-ms-transform: translateY(-50%) rotate(90deg);
-o-transform: translateY(-50%) rotate(90deg);
transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
padding: 0 32px;
}
#cd-lateral-nav .socials:after {
content: "";
display: table;
clear: both;
}
#cd-lateral-nav .socials a {
height: 32px;
width: 32px;
float: left;
padding: 0;
background-image: url("../img/cd-socials.svg");
background-repeat: no-repeat;
background-size: 128px 64px;
background-color: #FFF;
margin-right: .5em;
border-radius: 0.25em;
}
#cd-lateral-nav .socials a.cd-twitter {
background-position: 0 0;
}
#cd-lateral-nav .socials a.cd-github {
background-position: -32px 0;
}
#cd-lateral-nav .socials a.cd-facebook {
background-position: -64px 0;
}
#cd-lateral-nav .socials a.cd-google {
background-position: -96px 0;
}
.no-touch #cd-lateral-nav .socials a:hover {
background-color: #4e6361;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
background-position: 0 -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-github {
background-position: -32px -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
background-position: -64px -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-google {
background-position: -96px -32px;
}

#nav li{
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-ms-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
#nav li.first {
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
border-radius:5px 0 0 5px;
}
#nav li.last {
-webkit-border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
border-radius:0 5px 5px 0;
}
#nav li li.last {
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

/*** INIZIO FOOTER DELLA PAGINA ***/

.footer{
background-color:#2f2f2f;
width:100%;
height:auto;
float:left;
position:relative;
}

.footerinfo{
width:100%;
border-bottom:1px solid #ffffff;
float:left;
}

.contenutoinfo{
max-width:1024px;
height:auto;
margin:0px auto;
display:block;
}

.infobox1{
float:left;
width:38%;
text-align:left;
margin-left:15px;
}

.infobox1 p{
background:url("../immagini/footeraperto.jpg") no-repeat right center;
margin:15px 0px;
}

.infobox1 a{
color:#ffffff;
}

.infobox2{
float:right;
width:38%;
text-align:right;
margin-right:20px;
}

.infobox2 p{
margin:15px 0px;
}

.infobox2 a{
color:#ffffff;
}

.openinfo{
width:100%;
height:auto;
float:left;
margin-bottom:10px;
}

.boxinfo{
width:230px;
height:100%;
float:left;
border-right:1px solid #ffffff;
margin-left:15px;
}

.boxinfo .titleinfo{
margin:10px 0px;
}

.boxinfo .descinfos{
margin:10px 0px;
}

.boxinfo1{
width:230px;
height:100%;
float:left;
border-right:1px solid #ffffff;
margin-left:20px;
}

.boxinfo1 .titleinfo{
margin:10px 0px;
}

.boxinfo1 .descinfos{
margin:10px 0px;
}

.boxinfo2{
width:230px;
height:100%;
float:left;
border-right:0px;
margin-left:15px;
}

.boxinfo2 .titleinfo{
margin:10px 0px;
}

.boxinfo2 .descinfos{
margin:10px 0px;
}

.descinfos a{
color:#ffffff;
display:block;
}

.descinfos a:hover{
color:#8fdffd;
}

.boxfooter{
max-width:1024px;
margin:0px auto;
}

.contenutologo{
width:100%;
float:left;
}

.logofooter{
float:left;
margin: 30px 30px 0 10px;
}

.copyright{
font-size:10px;
max-width:300px;
width:auto;
margin:0px auto;
}

.copyright-nascosto{
	display:none;
}

.menufooter{
float:left;
margin-top:45px;
}

.menufooter a:hover{
color: #8fdffd;
}

.contattacimenu{
border-right:0px !important;
}

.boxfooter ul {
height: 100%;
max-width:1024px;
padding: 30px 0px;
list-style:none;
margin:0px auto;
}

.boxfooter li {
display: inline-block;
float:left;
margin-right: 0px;
padding: 0px;
border-right:1px solid #ffffff;
}

.boxfooter li a{
padding:0px 10px;
}

.boxfooter a{
display: inline-block;
padding: 10px;
color: #FFF;
font-weight:700;
}

.boxlingua{
width:100%;
height:auto;
padding:10px 0px;
float:left;
text-align:right;
}

.lingua{
float:right;
padding:10px 0px;
margin-right:10px;
}

.boxlingua img{
float:right;
margin-right:20px;
}

.imglingua{
float:right;
width:16px;
height:auto;
}

.imglingua img{
margin: 15px 10px;
}

/*** ANIMAZIONE HEADER APERTO-CHIUSO ***/
#nav li.sfondolist:hover{
background:url("../immagini/colorhover.png") repeat-x center center;
}

/*** PRIMO BLOCCO LIST GENERALE ***/
#nav li ul.sub
{position:absolute; display:none; left:0px; top:110px; width:100%; height:auto; margin:0px; padding:0; list-style:none; background:#0A5F8F url("../immagini/headeraperto.jpg") no-repeat center top;}
#nav li ul.sub li.box2li
{width:100%; max-width:1024px; height:auto; display:block; margin:0px auto;}

/*** SECONDO BLOCCO LIST GENERALE CENTRATO AL PRIMO ***/
#nav li:hover ul.sub li.box2li ul.sub1
{width:75%; height:auto; display:block; margin-top:0px; margin-bottom:10px; float:left;}
#nav li:hover ul.sub li.box2li ul.sub1 li
{margin:0px; padding:0px;}

/*** TERZO BLOCCO LIST RIGHE CONTENUTO SOFTWARE ***/
#nav li:hover ul.sub li.box2li ul.sub2
{width:100%; height:auto; border-right:2px solid rgba(255,255,255, 0.1); display:block; margin-top:5px; margin-bottom:10px; padding:0px; float:left;}
#nav li:hover ul.sub li.box2li ul.sub2 li
{height:120px; width:auto; padding:0px; text-align:center; margin:0px 20px;}
#nav li:hover ul.sub li.box2li ul.sub2 li div
{width:70px; height:70px; margin:0px auto;}
#nav li:hover ul.sub li.box2li ul.sub2 li div
{padding-top:5px;}
#nav li:hover ul.sub li.box2li ul.sub2 li p
{margin:0px;font-size:12px;}
#nav li:hover ul.sub li.box2li ul.sub2 li a
{color:#ffffff; text-decoration:none; display:block;}
#nav li:hover ul.sub li.box2li ul.sub2 li a:hover 
{color:#8fdffd;}
/*** HOVER PER LE IMMAGINI NELLA LISTA PRODOTTI ***/
#nav li:hover ul.sub li.box2li ul.sub2 #prod-hover a img:hover
{width:63px; height:auto; margin-top:-5px;}

/*** DIV CONDIVIDI ***/
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi
{width:100%; height:50px; margin:0px auto; float:left; display:block;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi li
{width:100%; height:100%; margin:0px 20px; padding:0px; color:#ffffff; font-weight:bold;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi div
{float:left; margin:5px 10px;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi span
{padding-top:10px; display:block;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi div a
{padding:0px;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi div a:hover
{color:#8fdffd;}
#nav li:hover ul.sub li.box2li ul.sub1 ul.sub-condividi .testo
{float:right;}

/*** DIVISORE DELLE LISTE DEI SOFTWARE ***/
#nav li:hover ul.sub li.box2li ul.sub3
{width:100%; height:2px; background:rgba(255,255,255, 0.1); display:block; margin-top:5px; margin-bottom:5px; float:left;}

/*** QUARTO BLOCCO LIST A DESTRA DEI SOFTWARE ***/
#nav li:hover ul.sub li.box2li ul.sub4
{width:auto; height:100%; display:block; margin-top:0px; margin-bottom:30px; padding:0px;}
#nav li:hover ul.sub li.box2li ul.sub4 li
{margin:0px 0px 0px 10px; padding:0px; text-align:left; width:200px; height:10px;}
#nav li:hover ul.sub li.box2li ul.sub4 li a
{color:#ffffff; display:block; padding:5px 0px;}
#nav li:hover ul.sub li.box2li ul.sub4 li a:hover
{color:#8fdffd;}
#nav li:hover ul.sub li.box2li ul.sub4 li a img
{padding:0px 0px;}

/*** RENDERE INVISIBILE I BOX DELLA LISTA HEADER ***/
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{display:none;}

/*** HEADER CHIEDI AIUTO ***/
/*** TERZO BLOCCO LIST RIGHE CONTENUTO SOFTWARE ***/
#nav li:hover ul.sub li.box2li ul.sub1contatti
{width:59%; height:auto; display:block; margin-top:10px; margin-bottom:0px; float:left;}
#nav li:hover ul.sub li.box2li ul.sub1contatti li
{margin:0px 0px 10px 10px; padding:0px; width:100%; height:auto;text-align:left; font-family:bold; font-size:20px;}
#nav li:hover ul.sub li.box2li ul.sub1contatti li a
{margin:0px; padding:0px;}
#nav li:hover ul.sub li.box2li ul.sub1contatti li.titlesub
{margin:0px 0px 30px 20px; padding:0px; text-align:left; width:100%; height:auto; font-family:bold; font-size:20px;}

/*** QUARTO BLOCCO LIST A DESTRA DEI SOFTWARE ***/
#nav li:hover ul.sub li.box2li ul.sub4contatti
{width:39%; height:100%; display:block; margin-left:10px; margin-bottom:10px; float:left;}
#nav li:hover ul.sub li.box2li ul.sub4contatti li.titlesub
{margin:20px 0px 30px 20px; padding:0px; text-align:left; width:100%; height:auto; font-family:bold; font-size:20px;}
#nav li:hover ul.sub li.box2li ul.sub4contatti li
{margin-left:10px; width:52px;}
#nav li:hover ul.sub li.box2li ul.sub4contatti li a
{display:block; float:left;}
#nav li:hover ul.sub li.box2li ul.sub4contatti li a:hover
{color:#7CBBFA;}